<div class="min-h-screen">
  <h1>Cart Page</h1>
  <div id="errorContainer"></div>
  <div data-controller="cart">
    <div class="mt-4 font-medium" id="total"></div>
    <button style = "background-color:gray; color:white; padding:8px 14px; border-radius:5px;" data-action="click->cart#checkout">Checkout</button>
    <button style = "background-color:gray; color:white; padding:8px 14px; border-radius:5px;" data-action="click->cart#clear">Clear Cart</button>
  </div>
</div>